body {
    font-family: Microsoft Yahei, WenQuanYi Micro Hei, Hiragino Sans GB, sans-serif;
    color: #434A54;
    background-color: #E6E9ED;
}

header {
    background-color: #99cc00;
    box-shadow: 1px 1px 5px 1px;
    color: white;
}

#content {
    padding-top: 54px;
    padding-bottom: 34px;
}

a {
    text-decoration: none;
    color: #434A54;
}

a:hover {
    color: #009900;
}

a:active {
    color: #009900;
}

.alert {
    position: fixed;
    z-index: 9999;
    top: 25%;
    left: 10%;
    right: 10%;
}

@media (max-width: 399px) {
    .product-item {
        width: 100%;
        padding: 5px;
    }

    .thumbnail-img {
        max-height: 160px;
        min-height: 160px;
    }
}

@media (min-width: 400px) and (max-width: 479px) {
    #channelContainer .input-group {
        width: 140px;
    }

    .product-item {
        width: 100%;
        padding: 5px;
    }

    .thumbnail-img {
        max-height: 180px;
        min-height: 180px;
    }

}

@media (min-width: 480px) and (max-width: 800px) {
    .product-item {
        width: 50%;
        float: left;
        padding: 5px;
    }

    .thumbnail-img {
        max-height: 140px;
        min-height: 140px;
    }
}

@media (min-width: 801px) and (max-width: 1023px) {
    #channelContainer .input-group {
        width: 160px;
    }

    .product-item {
        width: 50%;
        float: left;
        padding: 5px;
    }

    .thumbnail-img {
        max-height: 220px;
        min-height: 220px;
    }
}

@media (min-width: 1024px) {
    .product-item {
        width: 25%;
        float: left;
        padding: 5px;
    }

    .thumbnail-img {
        max-height: 180px;
        min-height: 180px;
    }
}



