#loginPanel {
    margin-top: 42px;
}

#formLogin {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

#formLogin .input-group {
    margin-bottom: 20px;
}

#formLogin .input-group .form-control {
    height: 40px;
    font-size: 18px;
}

#formLogin .input-group .input-group-addon {
    background-color: #A0D468;
}

#formLogin .input-group .fa-lock {
    font-size: 24px;
}

#formLogin .input-group .fa-phone {
    font-size: 20px;
}

#formLogin .btn {
    margin-top: 32px;
}
