<% _.each(models,function(model){ %>
<h4><span class='fa fa-leaf'></span><%= model.get('name') %></h4>
<div class='panel row'>
    <% _.each(model.get('items'),function(item){ %>
    <div class="panel-heading">
        <h4 class="panel-title"><%= item.name %></h4>
    </div>
    <div class="panel-body row bg-success">
        <% _.each(item.products,function(product){ %>
        <div class='product-item'>
            <div class='thumbnail'>
                <a href='#/product/get/<%= product.id %>'>
                    <img class="thumbnail-img" src='<%= product.code%>'>
                </a>

                <div class='caption'>
                    <p>
                        <a href='#/product/get/<%= product.id %>'>
                            <%= product.name %>
                        </a>
                    </p>

                    <p class='pull-right'>
                        <span class='badge badge-danger' style="font-size: 16px">
                            <i class='fa fa-yen'></i><span id="price"><%= product.children[0].price %></span>
                        </span>
                    </p>

                    <p class="input-group">
                        <select id="selectProduct" class="form-control" name="product">
                            <% _.each(product.children,function(child){ %>
                            <option data-price="<%= child.price %>" value="<%= child.id %>"><%= child.name %></option>
                            <% }); %>
                        </select>
                    </p>
                    <p class="input-group">
                         <span class="input-group-btn">
                            <a class="btn btn-default btn-minus">
                                <i class="fa fa-minus"></i>
                            </a>
                        </span>
                        <input type="number" name="productCount" class='form-control text-center' min="1" value='1'/>
                        <span class="input-group-btn">
                            <a class="btn btn-default btn-plus">
                                <i class="fa fa-plus"></i>
                            </a>
                        </span>
                    </p>

                    <p class="text-right">
                        <a class="btn btn-warning btn-cart">
                            放入购物车
                        </a>
                        <a class="btn btn-danger btn-order">
                            立即订购
                        </a>
                    </p>

                </div>
            </div>
        </div>
        <% }); %>
    </div>
    <% }); %>
</div>
<% }); %>
