<div id="cartList" class="panel panel-success row">
    <div class="panel-heading">
        <h4 class="panel-title">已选购商品</h4>
    </div>
    <div class="panel-body row">
        <% if(attributes.productCollection && attributes.productCollection.length > 0){ %>
        <ul class="media-list list-group">
            <% _.each(attributes.productCollection,function(product){ %>
            <li class="media list-group-item">
                <% if(product.checked) { %>
                <input type="checkbox" name="checked" class="pull-left" value="<%= product.productId %>" checked>
                <% } else { %>
                <input type="checkbox" name="checked" class="pull-left" value="<%= product.productId %>">
                <% } %>
                <a id="btnRemoveItem" data-id="<%= product.productId %>" href="javascript:void(0);"
                   class="pull-right times">
                    <strong>&times;</strong>
                </a>
                <a class="pull-left">
                    <img class="img-responsive" src="img/shanzhu8kg_lg.jpg">
                </a>

                <div class="media-body">
                    <h4 class="media-heading">
                        <%= product.productName %>
                    </h4>

                    <p class="badge badge-danger">
                        单价：
                        <span class="fa fa-yen"></span>
                        <%= product.productPrice %>
                    </p>

                    <div class="input-group">
                        <span class="input-group-btn">
                            <a class="btn btn-default btn-minus">
                                <span class="fa fa-minus"></span>
                            </a>
                        </span>
                        <input type="hidden" name="productId" value="<%= product.productId %>"/>
                        <input type="number" class="form-control" name="count"
                               value="<%= product.productCount %>"/>
                        <span class="input-group-btn">
                            <a class="btn btn-default btn-plus">
                                <span class="fa fa-plus"></span>
                            </a>
                        </span>
                    </div>
                </div>
            </li>
            <% }); %>
        </ul>


        <% } else { %>
        <p class="text-center">还没有选购商品。</p>
        <% } %>
    </div>
    <div class="panel-footer text-right">
        合计：
        <span class="fa fa-yen"></span>
        <%= totalPrice() %>
    </div>
</div>

<form id="formOrder" role="form" class="list-group" method="post">
    <% if(attributes.productCollection && attributes.productCollection.length>0) { %>
    <div class="panel panel-success row">
        <div class="panel-heading">
            <h4 class="panel-title">
                收货人信息
            </h4>
        </div>
        <div class="panel-body">
            <div class="form-group list-group-item">
                <label>收货人姓名</label>
                <label class="control-label" for="inputname"></label>
                <input id="inputName" type="text" name="name" class="form-control" value="<%= get('name') %>" required/>
            </div>
            <div class="form-group list-group-item">
                <label>手机号码</label>
                <label class="control-label" for="inputmobile"></label>
                <input id="inputMobile" type="text" name="mobilephone" class="form-control"
                       value="<%=  get('mobilephone') %>" required/>
            </div>

            <div class="form-group list-group-item">
                <label for="inputemail" class="text-muted">电子邮件(选填)</label>
                <label class="control-label" for="inputemail"></label>
                <input id="inputEmail" type="text" name="email" class="form-control"
                       placeholder="选填" value="<%= get('email') %>"/>
            </div>
            <div class="form-group list-group-item">
                <label for="inputwechat" class="text-muted">微信账号(选填)</label>
                <label class="control-label" for="inputwechat"></label>
                <input id="inputWechat" type="text" name="wechatcode" class="form-control"
                       placeholder="选填" value="<%= get('wechatcode') %>"/>
            </div>
        </div>
    </div>
    <div class="panel panel-success row">
        <div class="panel-heading">
            <h4 class="panel-title">
                收货地址
            </h4>
        </div>
        <div class="panel-body">
            <div class="form-group list-group-item">
                <label for="selectCountry">国家</label>
                <select id="selectCountry" name="country" class="form-control">

                </select>
            </div>
            <div class="form-group list-group-item">
                <label for="selectProvince">省市</label>
                <select id="selectProvince" name="province" class="form-control">

                </select>
            </div>
            <div class="form-group list-group-item">
                <label for="selectCity">州市</label>
                <select id="selectCity" name="city" class="form-control">

                </select>
            </div>
            <div class="form-group list-group-item">
                <label for="selectCounty">区县</label>
                <select id="selectCounty" name="county" class="form-control">

                </select>
            </div>
            <div class="form-group list-group-item">
                <label for="inputStreet">街道</label>
                <label class="control-label"></label>
                <textarea id="inputStreet" name="homeaddress" class="form-control" required><%= get('homeaddress')
                    %></textarea>
            </div>
        </div>
    </div>

    <div class="form-group list-group-item row">
        <label for="inputwechat">支付方式</label>
        <select name="paymentＭethod" class="form-control">
            <option value="0">现金支付</option>
        </select>
    </div>
    <div class="form-group list-group-item row">
        <label for="inputwechat">合计（不含运费）</label>

        <p class="form-control-static text-danger">
            <span class="fa fa-yen"></span>
            <%= totalPrice() %>
        </p>
    </div>
    <div class="form-group list-group-item row">
        <button type="button" data-loading-text="正在结算..." class="btn btn-success btn-block btn-lg">结算(<%= totalNum()
            %>)
        </button>
    </div>
    <% } %>
</form>