<div id="loginPanel" class="panel row">
    <div class="panel-body">
        <form id="formLogin" class="form" role="form">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="fa fa-phone"></span>
                </span>
                <input id="formLogin_inputMobile" type="tel" name="mobilephone" value="<%= mobilephone %>"
                       class="form-control"
                       placeholder="请输入手机号" required
                       autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="fa fa-lock"></span>
                </span>
                <input id="formLogin_inputPassword" type="password" name="password" value="<%= password %>"
                       class="form-control"
                       placeholder="请输入密码" required>
            </div>
            <button id="formLogin_btnLogin" class="btn btn-lg btn-success btn-block" type="button">登录</button>
            <div class="pull-left text-right">
                <a href="#user/register" class="btn-link btn-lg btn-block">立即注册</a>
            </div>
            <div class="pull-right text-left">
                <a class="btn-link btn-lg btn-block">忘记密码？</a>
            </div>
        </form>
    </div>
</div>


