<div id="loginPanel" class="panel panel-success row">
    <div class="panel-heading">
        <h4 class="panel-title">用户登录</h4>
    </div>
    <div class="panel-body">
        <form id="formLogin" class="form" role="form">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="fa fa-user"></span>
                </span>
                <input id="formLogin_inputMobile" type="tel" name="mobilephone" value="<%= mobilephone %>"
                       class="form-control"
                       placeholder="手机号/邮箱/微信号" required
                       autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="fa fa-lock"></span>
                </span>
                <input id="formLogin_inputPassword" type="password" name="password" value="<%= password %>"
                       class="form-control"
                       placeholder="请输入密码" required>
            </div>
            <button data-loading-text="正在登陆..." class="btn btn-lg btn-success btn-block" type="submit">登录</button>
            <div class="pull-left text-right">
                <a href="#user/register" class="btn-link btn-lg btn-block">立即注册</a>
            </div>
            <div class="pull-right text-left">
                <a class="btn-link btn-lg btn-block">忘记密码？</a>
            </div>
        </form>
    </div>
</div>


